<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Chat</ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="logout()" class="logout-button">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <div *ngIf="chats.length === 0">
      <ion-item *ngFor="let skeleton of [0,1,2,3,4,5,6,7,8]">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <div class="chat-message">
          <ion-note
            ><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text
          ></ion-note>
          <p>
            <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
          </p>
        </div>
      </ion-item>
    </div>

    <ion-item *ngFor="let chat of chats; trackBy: trackById">
      <ion-avatar
        [slot]="chat.author === this.userService.currentUser.user_id ? 'end' : 'start'"
        class="animate-in-primary"
      >
        <img
          src="https://avatars.dicebear.com/api/bottts/{{chat.author}}.svg"
        />
      </ion-avatar>
      <div class="chat-message animate-in-secondary">
        <ion-note>{{ chat.author }}</ion-note>
        <p>{{ chat.message }}</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="medium-contrast">
    <ion-textarea
      (keyup)="handleKeyup($event)"
      [(ngModel)]="message"
      class="chat-input"
      placeholder="type message..."
    >
    </ion-textarea>

    <ion-buttons slot="primary">
      <ion-button
        [disabled]="message.length === 0"
        (click)="addChat()"
        class="send-chat-button"
      >
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
