ion-content {
  --ion-background-color: var(--ion-color-light);
}

ion-toolbar {
  --border-width: 0 !important;
}

ion-textarea {
  font-size: 1.2em;
  --padding-top: 25px;
  --padding-start: 15px;
}

.chat-message {
  background-color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;

  p {
    margin: 5px 0;
  }
}

@keyframes animateInPrimary {
  0% {
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes animateInSecondary {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-in-primary {
  animation: animateInPrimary;
  animation-duration: 750ms;
  animation-delay: 50ms;
  animation-fill-mode: both;
}

.animate-in-secondary {
  animation: animateInSecondary ease-in 1;
  animation-duration: 750ms;
  animation-delay: 50ms;
  animation-fill-mode: both;
}
