<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add Notice</ion-title>

    <ion-buttons slot="end">
      <ion-button class="close-modal-button" (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img
          src="https://avatars.dicebear.com/api/bottts/{{userService.currentUser.user_id}}.svg"
        />
      </ion-avatar>
      <h2>{{userService.currentUser.user_id}}</h2>
    </ion-item>

    <ion-card-content>
      <div class="mega-text">
        <ion-item lines="none">
          <ion-input
            type="text"
            [(ngModel)]="title"
            placeholder="add title..."
          ></ion-input>
        </ion-item>
      </div>

      <ion-item lines="none">
        <ion-textarea
          [(ngModel)]="message"
          placeholder="add your message..."
        ></ion-textarea>
      </ion-item>
    </ion-card-content>
    <ion-button
      [disabled]="title.length === 0"
      class="save-notice-button"
      color="primary"
      expand="full"
      (click)="saveNotice()"
    >
      Save Notice
    </ion-button>
  </ion-card>
</ion-content>
