ion-content {
  --ion-background-color: var(--ion-color-light);

  ion-card {
    --ion-item-background: #fff;

    ion-button {
      margin: 0;
    }
  }
}

ion-card-content {
  --ion-background-color: #fff;
  padding: 0;
}

.mega-text {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(135deg, #fff6b7 0%, #f6416c 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;

  ion-item {
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px #969595;
    --border-width: 0;
    --ion-item-background: transparent;
  }
}

ion-textarea {
  margin: 10px;
}
