ion-content {
  --ion-background-color: var(--ion-color-primary);
}

ion-input {
  --background: var(--ion-color-primary-tint);
  --padding-start: 10px !important;
  margin-bottom: 10px;
}
ion-label {
  font-weight: bold;
  color: #fff !important;
}

ion-button {
  width: 100%;
}

.submit-warning {
  background-color: var(--ion-color-danger);
  color: #fff;
  padding: 10px;
  text-align: center;
}
