<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Create Account</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="registerForm" class="register-form">
    <ion-item lines="none" class="username-input">
      <ion-label position="stacked">Username</ion-label>
      <ion-label position="stacked">
        <error-messages
          [control]="registerForm.controls.username"
        ></error-messages>
      </ion-label>
      <ion-input formControlName="username" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="none" class="email-input">
      <ion-label position="stacked">Email</ion-label>
      <ion-label position="stacked">
        <error-messages
          [control]="registerForm.controls.email"
        ></error-messages>
      </ion-label>
      <ion-input formControlName="email" type="email" required></ion-input>
    </ion-item>

    <ion-item lines="none" class="password-input">
      <ion-label position="stacked">Password</ion-label>
      <ion-label position="stacked">
        <error-messages
          [control]="registerForm.controls.password"
        ></error-messages>
      </ion-label>
      <ion-input
        formControlName="password"
        type="password"
        required
      ></ion-input>
    </ion-item>

    <ion-item lines="none" class="confirm-password-input">
      <ion-label position="stacked">Confirm Password</ion-label>
      <ion-label position="stacked">
        <error-messages
          [control]="registerForm.controls.confirmPassword"
        ></error-messages>
      </ion-label>
      <ion-input
        formControlName="confirmPassword"
        type="password"
        required
      ></ion-input>
    </ion-item>
  </form>

  <ion-button
    [disabled]="!registerForm.valid"
    color="light"
    fill="outline"
    class="register-button"
    (click)="createAccount()"
    >Create Account <ion-icon slot="end" name="arrow-forward"></ion-icon
  ></ion-button>

  <p class="submit-warning" *ngIf="!registerForm.valid">
    You must fill out all fields above correctly before you can create your
    account.
  </p>
</ion-content>
