<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Notices</ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="logout()" class="logout-button">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="openAddNoticePage()" class="add-notice-button">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="notice-list" lines="none">
    <div *ngIf="notices.length === 0">
      <ion-card class="notice-cards" *ngFor="let skeleton of [0,1,2,3]">
        <ion-item>
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>

          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-item>

        <ion-card-content>
          <div class="mega-text"></div>

          <p class="message-content">
            <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 71%"></ion-skeleton-text>
          </p>
        </ion-card-content>
      </ion-card>
    </div>

    <ion-card class="notice-cards" *ngFor="let notice of notices">
      <ion-item>
        <ion-avatar slot="start">
          <img
            src="https://avatars.dicebear.com/api/bottts/{{notice.author}}.svg"
          />
        </ion-avatar>
        <h2>{{notice.author}}</h2>
        <ion-button
          *ngIf="notice.author == userService?.currentUser?.user_id"
          (click)="openNoticeActions($event, notice)"
          color="medium"
          fill="clear"
          slot="end"
        >
          <ion-icon name="settings"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-card-content>
        <div class="mega-text">
          <p>{{notice.title}}</p>
        </div>

        <p class="message-content">{{notice.message}}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
