ion-content {
  --ion-background-color: var(--ion-color-light);

  ion-card {
    --ion-item-background: #fff;
  }
}

ion-card-content {
  --ion-background-color: #fff;
  padding: 0;
}

.mega-text {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(135deg, #fff6b7 0%, #f6416c 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;

  p {
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px #969595;
  }
}

.message-content {
  padding: 20px;
}

.deleting {
  animation: fadeOut 0.5s linear;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
