ion-content {
  --ion-background-color: var(--ion-color-primary);
}

.login-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  svg {
    padding: 20px;
  }

  & > div {
    width: 100%;

    ion-input {
      --background: var(--ion-color-primary-tint);
      --padding-start: 10px;
    }

    ion-button {
      margin-top: 40px;
      width: 100%;
    }
  }
}

ion-footer {
  background-color: var(--ion-color-primary-shade);
}

#hangz-logo path {
  opacity: 0;
}

$letters: 6;
@for $i from 0 to $letters {
  #hangz-logo path:nth-child(#{$i}) {
    $per: $i/5;
    animation: 1s #{$per}s linear fadeIn;
    animation-fill-mode: forwards;
  }
}

.error-logging-in {
  background-color: var(--ion-color-danger);
  color: #fff;
  padding: 10px;
  text-align: center;
  animation: shake 0.7s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translateX(-1px);
  }

  20%,
  80% {
    transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }

  40%,
  60% {
    transform: translateX(4px);
  }
}
